/*table {*/
/*    width: 100%;*/
/*}*/
/*thead, tbody tr {*/
/*    display: table;*/
/*    width: 100%;*/
/*    table-layout: fixed;*/
/*    padding: 5px;*/
/*}*/
/*tbody {*/
/*    display: block;*/
/*    overflow-y: auto;*/
/*    table-layout: fixed;*/
/*    max-height: 200px;*/
/*}*/

.active-link {
    font-weight: bold;
    color: yellow;
}

.accordion-button:after {
    order: 1; //swap order
margin-left: 0;
    margin-right:0.5em; // just extra space between text and icon
}

.card .card-body .scroll {
    max-height: 400px;
    overflow-y: scroll;
}
.invoice .printInvoice  {
    width: 100%;
    border-collapse: collapse;
}

.invoice .printInvoice th, .invoice .printInvoice td {
    border: 1px solid black;
    padding: 5px;
}

.invoice .printInvoice th {
    background-color: #333 !important;
    color: white !important;
}

.invoice .printInvoice tfoot {
    font-weight: bold;
}

@media print {
    body {
        background-color: #fff !important;
    }
    .card .card-body {
        direction: rtl !important;
        background-color: white;
    }

    .invoice {
        background-color: #FFF;
        break-after: page;
    }

    .card .card-body .invoice .printInvoice thead th {
        background-color: #333 !important;
        color: white !important;
    }
    .card .card-body .invoice .printInvoice  {
        border-collapse: collapse;
        border: solid 1px #333;
    }
    table {
        direction: rtl !important;
    }

    .invoice .printInvoice th, .invoice .printInvoice td {
        border: 1px solid black;
        padding: 5px;
    }

    .invoice .printInvoice th {
        background-color: #333 !important;
        color: white !important;
    }

    .invoice .printInvoice tfoot {
        font-weight: bold;
    }
}
